.form {
  background-color: azure;
  padding: 2rem;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  border: 2px solid greenyellow;
}

.row {
  font-size: large;
  display: block;
}

.input {
  width: 100%;
  font-size: large;
  padding-bottom: 1rem;
}
.textArea {
  width: 100%;
  padding-bottom: 3rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.submitBtn {
  padding: 0.5rem;
  font-size: large;
  background-color: rgb(109, 109, 245);
}
